body {
   font-family: 'Roboto', sans-serif; 
   background-color: #4f4e4c;
   color: #fafafa;
}

.container-wrapper {}

.container-wrapper--orange {
    background-color: #e5a93c;
    color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #f1c022;
    border-color: #f1c022;
}

.callout-container {
    height: 100vh;

    background: url("../images/pexels-eva-bronzini-7254802.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display:flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 2;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* Jumbotron */

.jumbotron {
    background: transparent;
    /*align-self: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;*/
    z-index: 1;
}

.jumbotron-header {
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #fafafa;
}

.jumbotron span {
    color: #fafafa;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

/* Buttons */

.btn--cta {
    border-radius: 23px;
    font-weight: bold;
    width: 160px;
}

.btn--orange {
    color: white;
    background-color: #e5a93c;
    border-color: #e5a93c;
    
}

.btn--orange:hover,
.btn--orange:active,
.btn--orange:focus,
.btn--orange:active:focus {
    background-color: #e59401;
    border-color: #e59401;
}

.media, .media-container {
    
}

.media p {
    margin: 1em;
}

.media img {
    margin: 1em;
}

.features-container {}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #e5a93c;
}

.feature p {
    margin: 1em;
}

.feature h3 {
    margin-left: 0.5em;
}


/* Page Headers */

.page-header {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: -0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/* Block Dividers */

.block-divider {
    height: 5px;
    width: 75px;
    border: 0;
    background-color: #444;
}

.block-divider--orange{
    background-color: #e5a93c;
}

.block-divider--white{
    background-color: white;
}

.block-divider--short{
    width: 35px;
}

/* Content containers */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Badges */

.badge-success--orange {
    color: white;
    background-color: #e5a93c;
    border-color: #e5a93c;
}

.favourites-container {}

.row {
    margin-left: 0;
    margin-right: 0;
}

